In [11]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(pd.read_csv("./svm-data.csv"))

df.head()

   0.0   0.7  0.29
0  1.0  0.23  0.55
1  0.0  0.72  0.42
2  0.0  0.98  0.68
3  0.0  0.48  0.39
4  1.0  0.34  0.73

In [7]:
df = df.rename(columns={'0.0': 'A', '0.7': 'B', '0.29': 'C'})
df.head()

     A     B     C
0  1.0  0.23  0.55
1  0.0  0.72  0.42
2  0.0  0.98  0.68
3  0.0  0.48  0.39
4  1.0  0.34  0.73

In [8]:
df_x = df.drop(columns=['A'], axis=1)
df_y = df['A']
df_x.head()

      B     C
0  0.23  0.55
1  0.72  0.42
2  0.98  0.68
3  0.48  0.39
4  0.34  0.73

#2 Задание

In [9]:
from sklearn import svm
X = df_x
y = df_y
clf = svm.SVC(kernel='linear', C=100000)
clf = clf.fit(X, y)

#3 Задание
Найдем номера опорных объектов

In [10]:
clf.support_

array([2, 3, 8], dtype=int32)

In [12]:
X[[clf.support_ - 1]]

KeyError: "None of [Index([(1, 2, 7)], dtype='object')] are in the [columns]"